{:consumerkey "consumerkey"
 :consumersecret "consumersecret"
 :usertoken "usertoken"
 :usersecret "usersecret"
 :trusteduser "screenname of trusted user"
 :hashtags ["#hashtags" "#to" "#be" "#added" "#to" "#the" "#tweets"]
}
